body{
    background-color:black;
}

h1{
    color: powderblue;
    
}
p{
    color: whitesmoke;
    font-size: large;
}
form{
    color:bisque
}
table, th, td {
    color: wheat;
    border: 1px solid white;
  }
  